<!doctype html>
<html>
<!--
  Created using jsbin.com
  Source can be edited via http://jsbin.com/oPIMALo/4/edit
-->
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>

  <meta charset="utf-8">
  <title>bm</title>

<style id="jsbin-css">

</style>
</head>
<body>
    <script src="http://builds.emberjs.com/handlebars-1.0.0.js"></script>
    <script src="http://builds.emberjs.com/release/ember.js"></script>
   <script type="text/x-handlebars">
    
    <a href="#" {{action open1}}>Show Modal1</a>
    <a href="#" {{action open2}}>Show Modal2</a>
    <a href="#" {{action open3}}>Show Modal3</a>
   
    {{outlet modal}}
  </script>
  
  <script type="text/x-handlebars" data-template-name="modal1">
    <div class="modal-header">
      <button type="button" class="close" {{action close target="view"}}>&times;</button>
      <h3>Modal header</h3>
    </div>
    <div class="modal-body">
      <p>Got dat Modal1</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" {{action close target="view"}}>Close</a>
      <a href="#" class="btn btn-primary" {{action save}}>Save changes</a>
    </div>
  </script>
   <script type="text/x-handlebars" data-template-name="modal2">
    <div class="modal-header">
      <button type="button" class="close" {{action close target="view"}}>&times;</button>
      <h3>Modal header</h3>
    </div>
    <div class="modal-body">
      <p>Got dat Modal2</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" {{action close target="view"}}>Close</a>
      <a href="#" class="btn btn-primary" {{action save}}>Save changes</a>
    </div>
  </script>
  
  <script type="text/x-handlebars" data-template-name="modal3">
    <div class="modal-header">
      <button type="button" class="close" {{action close target="view"}}>&times;</button>
      <h3>Modal header</h3>
    </div>
    <div class="modal-body">
      <p>Got dat Modal3</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" {{action close target="view"}}>Close</a>
      <a href="#" class="btn btn-primary" {{action save}}>Save changes</a>
    </div>
  </script>
  
 
  <script type="text/x-handlebars" data-template-name="modal_layout">
      <div class="modal-backdrop fade">&nbsp;</div>  
  <div class="modal fade show" >
    <div class="modal-dialog">
    <div class="modal-content">
    {{yield}}
  </div>
  </div>
  </div>
  </script>
<script>
App = Ember.Application.create({
    LOG_VIEW_LOOKUPS:true
  });

App.ApplicationRoute = Ember.Route.extend({
  actions: {
    open: function(name) {
      this.render(name, { into: 'application', outlet: 'modal', view: 'modal' });
    },
    open1: function() {
      this.send('open','modal1');
    },
    open2: function() {
      this.send('open','modal2');
    },
    open3: function() {
      this.send('open','modal3');
    },
 
    close: function() {
      this.disconnectOutlet({outlet: 'modal', parentView: 'application'});
    },
    
    save: function() {
      alert('actions work like normal!');
    }
  }
});

App.ModalView = Ember.View.extend({  
  didInsertElement: function() {
    Ember.run.next(this,function(){
    this.$('.modal, .modal-backdrop').addClass('in');
    });
  },
  
  layoutName: 'modal_layout',
  actions: {
    close: function() {
      var view = this;
      // use one of: transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd
      // events so the handler is only fired once in your browser
      this.$('.modal, .modal-backdrop').one("transitionend", function(ev) {
        view.controller.send('close');
      });
      
      this.$('.modal').removeClass('in');
    }
  }
});
</script>
</body>
</html>
