<div class="modal-header">
      <button type="button" class="close" {{action close target="view"}}>&times;</button>
      <h3>Modal header</h3>
    </div>
    <div class="modal-body">
      <p>Got dat Modal1</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" {{action close target="view"}}>Close</a>
      <a href="#" class="btn btn-primary" {{action save}}>Save changes</a>
    </div>

    